.navbar-style{
    padding: 5px;
    background-color: #1E1E2C;
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar-brandname-style{
    color: var(--main-color-pich);
    font-family: var(--brand-font);
    font-size: 20px;
}