body {
  margin: 0;
}

:root {
  --brand-font:'Bebas Neue', sans-serif;
  --main-font: 'Rubik',sans-serif;

  --main-color-pich: #F29F67;
  --main-color-black: #1E1E2C;
  --main-color-light-grey: #EAEAEA;
  --main-color-dark-grey: #7F7F7F;

  --secondary-color-blue: #3B8FF3;
  --secondary-color-green: #34B1AA;
  --secondary-color-yellow: #E0B50F;
}



